ul {
    list-style: none;
}
img[alt="focal_point"],
img[alt="teilen"] {
    width:  40%;
    display: block;
}
.markdown-body img {
    max-width:  100%;
    height: auto;
}
img[src$='#img-thumbnail'] {
    float:left;
}

.imgTag-b489daf6 {
    width: 100%;
    height: auto;
}